@import "semantic-ui/overrides";
.grid.full-height{
    
    height: 100vh;
    padding: 0;
    margin: 0;
    
    .right.aligned.column.dimmable{
        
        margin:0;
        padding:0;
        
        .two.column.grid{
            padding: 0;
            margin: 0;
            
            .column{
                
                padding-right: 0;
                
                 .button{
        
                    margin-right: 0;
                    border-radius: 0.28571429rem 0 0 0.28571429rem;
            
                }
            }   
        }
    }

    .left.aligned.column.dimmable{

        margin: 0;
        padding: 0;
        
        .two.column.grid{
            
            padding: 0;
            margin: 0;
            
            .column{
                
                padding-left: 0;
                
                .button{

                    margin-left: 0;
                    border-radius: 0 0.28571429rem 0.28571429rem 0;
                }
            }    
        }
    }
    
    .row.visuallyhidden{
        padding: 0;
        
        center.aligned.eight.wide.column{
            padding: 0;
        }
    }
}

.ui[class*="middle aligned"].grid .column:not(.row) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: middle;
    -webkit-align-self: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.right.aligned.column.dimmable.dimmed{
    height: 100vh !important;
    background-color: rgba($player-1-color, 0.75);
    .blurring.dimmer{
        height: 100vh !important;
        }
    .player-1.button{
        visibility: hidden;
    }
}

.left.aligned.column.dimmable.dimmed{
    height: 100vh !important;
    background-color: rgba($player-2-color, 0.75);
    .blurring.dimmer{
        height: 100vh !important;
        }
    .player-2.button{
        visibility: hidden;
    }
}
